{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load form_tags %}


{% block content %}

<h5>Create Document Form </h5>
<form id="document-create-form" method="post">
    {% csrf_token %}
    {% for field in form %}
        {% if field.name != 'parents' %}
            {{ field|as_crispy_field }}
        {% endif %}
    {% endfor %}
    
    <!-- Render the 'parents' field along with the search input separately -->
    <div id="div_id_parents" class="mb-3">
        {{ form.parents|as_crispy_field }}
        <input type="text" id="search_parents" placeholder="Search parents..." 
         style="margin-top: 10px; width: 100%;" />
    </div>

    {% if form.errors %}
        <div>

        </div>
    {% endif %}

    <!-- Submit button -->
    <button type="submit">Submit</button>

</form>


<script>

    window.addEventListener('load',function(){
        {% if messages %}
            {% for message in messages %}
            alert("{{message}}")
            {% endfor %}
        {% endif %}        
    })

    const level = document.getElementById('id_level')
    const parent = document.getElementById('search_parents')
    const selectParent = document.getElementById('id_parents')
    
    

    parent.addEventListener('input',sendSearchData)
    level.addEventListener('change',sendSearchData)

    function sendSearchData(event){
        console.log("triggered")
        level_value = level.value;
        query = parent.value;
        url = `{% url 'dcc:doc-parent-search-view' %}?level=${level_value}&query=${query}`
        fetch(url, {}).then((response)=>response.text())
        .then(html=>{
            selectParent.innerHTML = html
        })
        .catch(error=>alert(error))
    }
</script>

{% endblock content %}