{% extends 'base.html' %}

{% block content %}
    <div>
        <h3>Welcome to DCMS, what do you want to do ?</h3>
        <div class="row align-items-start">
            <div class="card m-1 col-3" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Document</h5>
                  <p class="card-text">Browse Documents available in your account</p>
                  <a href="#" class="btn btn-primary">Go</a>
                </div>
              </div>
              <div class="card m-1 col-3" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Submission</h5>
                  <p class="card-text">Submit new document or check your submisson history</p>
                  <a href="#" class="btn btn-primary">Go</a>
                </div>
              </div>
              <div class="card m-1 col-3" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Task</h5>
                  <p class="card-text">Check your open or closed task here</p>
                  <a href="#" class="btn btn-primary">Go</a>
                </div>
              </div>
        </div>
        
    </div>

    <script>
    window.addEventListener('load',function(){
        {% if messages %}
            {% for message in messages %}
            alert("{{message}}")
            {% endfor %}
        {% endif %}        
    })
    </script>
{% endblock %}